.navbar-custom {
    color: #FFFFFF;
    background-color:
    rgb(25, 158, 184)!important;;
}

/* .sidenav---sidenav---_2tBP{
    background: rgb(25, 158, 184) !important;
  } */

#btnc{
    background-color:
    rgb(25, 158, 184); 
}
